header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.statistics-data {
    font-size: 1.2rem;
}

.exercises-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 10px 0;
}

.exercise {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.exercise:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.exercise img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.exercise-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
}

.exercise p {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.exercise p.interval {
    font-size: 0.8rem;
    color: #666;
}

.exercise h3 {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    header {
        padding-bottom: 0;
    }

    .exercise {
        margin-top: 5px;
        padding: 5px;
    }
}