.workouts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}

.workout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    transition: background-color 0.3s;
}

.workout:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.workout h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
    color: #333;
}

.workout p {
    font-size: 1.2rem;
    margin: 5px 0;
    text-align: center;
    color: #666;
}

.workout:before {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .workout {
        padding: 5px;
    }

    .workout h3 {
        margin: 5px 0;
    }
}
