.sequencer {
    width: 100%;
    height: 100%;
    position: relative;
}

.step {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.step-order {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
}

.step-img {
    height: 150px;
    margin-top: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.step-description {
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: 5px;
    text-transform: uppercase;
}

.step-duration {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.next-step {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    header {
        margin: 0;
        padding: 0;
    }

    .step-img {
        height: 100px;
        margin: 0;
    }

    .step-description {
        font-size: 2rem;
        margin: 0;
    }

    .step-duration {
        font-size: 4rem;
        margin: 0;
    }

    .next-step {
        margin: 0;
    }
    
}