.sequencer {
    width: 100%;
    height: 100%;
    position: relative;
}

.step {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.step-order {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.step-img {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.step-description {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.step-duration {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 10px;
}

.next-step {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}